// app global css in Sass form
.d-flex
  display: flex;

.d-flex-c
  display: flex;
  flex-direction: column;

.q-toolbar
  text-align: center
  
.q-toolbar__title
  text-transform: uppercase
  letter-spacing: 5px

.q-banner
  height: 5em
  text-align: center

.container
  width: 100%
  margin: 0 auto
  padding-left: 5%
  padding-right: 5%

.profiles .profile-name
  margin-left: 10px;

.pointer
  cursor: pointer;

.q-layout__section--marginal
  background-color: #2C2C32;

.profile-section-2
  padding-left: 15px;
  .name
    font-size: 36px;
    font-weight: 600;
  .attr
    display: inline-block;
    
    