// app global css in Sass form

.q-toolbar__title
  text-transform: uppercase
  letter-spacing: 10px

.q-banner
  height: 10em

.container
  width: 100%
  margin: 0 auto
  padding-left: 5%
  padding-right: 5%

.profiles .profile-name
  margin-left: 10px;

.pointer
  cursor: pointer